/* RSUITE */
@import '~rsuite/dist/rsuite.min.css';

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

/* debut importation font custom */
@font-face{
    font-family: 'Gilmer';
    src: local('Gilmer'), url('../assets/font/Gilmer\ Regular.otf');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('../assets/background_noise.png');
    color: #eff0f3;
}

.txt-light {
    color: #1d1f25 !important;
}

.border-light {
    border: 1px solid #1d1f25 !important;
}

.bcg-light {
    background-color: lightgray !important;
}

.bcg2-light {
    background-color: rgb(220, 220, 220) !important;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: url('../assets/background_noise.png');
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 4rem;
    color: #eff0f3;
    margin: 0;
    padding: 0;
}

.head-title:hover {
    background-color: transparent;
}

.head-title span {
    color: #145C9E;
}

nav {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav a {
    font-size: 1.8rem;
    font-family: 'Gilmer', sans-serif;
    font-feature-settings: 'liga' off;
    font-weight: 400;
    color: #eff0f3 !important;
    text-decoration: none !important;
    margin: 0 3%;
    padding: 12px 24px;
    transition: 0.3s all ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

nav a:hover {
    background-color: #1d1f25;
    border-radius: 50px;
    transition: 0.3s all ease;
}

.nav-light a:hover {
    background-color: lightgray;
}

.nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-desktop label {
    padding: 12px 30px;
}

.rs-toggle-presentation {
    background-color: #145C9E !important;
}

button {
    border: transparent;
    background-color: transparent;
}

header div img {
    width: 45px;
    height: 45px;
}

.first-infos {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 24px;
}

.about-and-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h2 {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
}

.box-stack {
    display: flex;
    gap: 24px;
}

.content-stack {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    animation: stack-slide 6s 1.5s ease-in-out infinite;
    transition: 1s;
}

.content-stack .box-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    background-color: #1d1f25;
    border-radius: 20%;
}

.content-stack:nth-child(1) {
    justify-content: flex-end;
    animation-delay: 0s;
}

.content-stack:nth-child(2) {
    justify-content: flex-start;
    animation-delay: 0.5s;
}

.content-stack:nth-child(3) {
    margin-top: 24px;
    animation-delay: 1s;
}

#eclipse-svg {
    width: 42px;
    height: 42px;
    fill: white;
    color: #fff;
}

.typed-text {
    display: flex;
    flex-direction: row;
    color: #145C9E;
    font-size: 2.8rem;
    font-family: 'Inter', sans-serif;
    margin: 2% 0;
}

.typed-cursor {
    font-size: 3rem;
    color: white;
}

.enterprise-txt {
    font-size: 2.1rem;
    font-family: 'Inter', sans-serif;
    margin: 2% 0;
}

.enterprise-txt span {
    color: #145C9E;
}

.content p {
    font-size: 2.1rem;
    font-family: 'Rajdhani';
    margin: 2% 0;
    /* make the text on multiple lines */
    width: 70%;
    text-align: left;

}

.enterprise-txt, .content p {
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.9);
}

.scrolldown {
    position: absolute;
    display: table;
    bottom: 36px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

.mouse {
    position: relative;
    height: 34px;
    width: 22px;
    border: 2px solid #eff0f3;
    border-radius: 50px
}

.mouse__wheel {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #eff0f3;
    border-radius: 50px;
    top: 8px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    animation: scroll-down 1.8s 0s ease-in-out infinite
}

/* reveal css */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* card */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}

.about h2 {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
}

.about .card-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 2% 0;
}

.little {
    justify-content: space-evenly;
}

.card {
    width: 25%;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(0.25turn, #00B5F7, #863BEF) 1;
    border-image-slice: 1;
    margin: 10px;
    transition: 0.8s all ease;
    background-color: #1d1f25;
}

.card:hover {
    transform: scale(1.03);
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-header-icons {
    background-color: #22242b;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 5% 0;
}

.card h2 {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    margin: 2% 1%;
    padding: 8px;
}

.card p {
    font-size: 2rem;
    margin: 2% 1%;
    padding: 8px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

.div-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 70%;
    margin: 0 auto;
}

.card-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 3% 0;
}

.card-project img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.card-project img:hover {
    transform: scale(1.03);
    opacity: 1;
}

.card-project-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
}

.card-project-about h2 {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    padding: 8px;
    color: #eff0f3;
}

.card-project-about p {
    font-size: 2rem;
    padding: 8px;
    font-family: 'Rajdhani', sans-serif;
    width: 80%;
    color: #eff0f3;
}

.card-project-about a {
    font-size: 1.6rem;
    font-family: 'Gilmer', sans-serif;
    padding: 14px;
    margin: 2% 0;
    border: none;
    border-radius: 50px;
    background-color: #3050cf;
    color: #eff0f3;
    transition: 0.8s all ease;
    cursor: pointer;
    text-decoration: none !important;
}

.card-project-about a:hover {
    background-color: #405ed3;
}

footer {
    padding: 8px;
}

.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.nav-footer div {
    margin: 0 2%;
}

.nav-footer div a {
    font-size: 2rem;
    color: #eff0f3;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 8px;
}

footer p span {
    color: #145C9E;
}

.icon-link {
    display: flex;
    align-items: center;
}

.icon-link svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}

.icon-link a {
    color: #000000;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.arrow-down {
    display: none;
}

.arrow-down.active {
    display: block;
    width: 35px;
    height: 35px;
    bottom: 3%;
    right: 1%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eff0f3;
    border-radius: 50%;
    padding: 10px;
    z-index: 100;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

/* responsive classique phone */
@media screen and (max-width: 767px) {

    .first-infos {
        padding: 96px 20px;
    }
    
    .about-and-stack {
        display: block;
    }

    .about {
        padding: 96px 0;
    }

    .content > * {
        margin: 0 !important;
        padding: 0 !important;
        text-align: center !important;
        width: 100% !important;
        justify-content: center !important;
    }

    .typed-text {
        padding: 16px 0 !important;
    }

    .content p {
        line-height: 40px;
    }

    .card-pos {
        flex-direction: column !important;
    }

    .card {
        width: 70%;
        border-bottom: transparent;
        overflow: visible;
        height: auto;
    }

    .card-header h2 {
        text-align: center;
        margin: 0;
        padding: 0 12px;
    }
    
    .card p {
        margin: 0;
        padding: 16px;
    }

    .card-project {
        flex-direction: column;
    }

    .card-project img, .card-project-about {
        width: 80%;
        height: auto;
    }

    .card-project-about {
        align-items: center;
    }

    .card-project-about p {
        text-align: center;
    }

    .card-project-about a {
        margin-top: 10%;
    }

    .nav-footer {
        flex-direction: column;
        padding: 0;
    }

    .icon-link a {
        padding: 8px 2px;
        font-size: 1.6rem !important;
    }

    footer p {
        font-size: 1.6rem;
    }
}


/* responsive nav phone and tablet */
@media screen and (min-width: 280px) and (max-width: 1023px) {

    header {
        padding: 0 20px;
    }

    .nav-phone {
        width: 100%;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .nav-phone a {
        text-decoration: none;
    }

    .nav-phone button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    .nav-phone button:hover {
        background-color: #22242b;
        border-radius: 50px;
        transition: 0.3s all ease;
    }

    .nav-inactive {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 78px;
        right: -110%;
        transition: all 0.5s ease;
        padding: 16px 0;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: url('../assets/background_noise.png'), rgba(15, 19, 26, 0.95);
        backdrop-filter: blur(3px);
        top: 78px;
        right: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }

    nav a {
        padding: 12px 42px;
        margin: 0;
        gap: 8px;
        font-size: 2rem;
    }

    .link-nav {
        padding: 0;
    }

}

/* responsive tablet */
@media screen and (min-width: 768px) and (max-width: 1000px) {

    .about-and-stack {
        flex-direction: column;
        margin-top: 20px;
    }

    .content {
        margin-bottom: 20px;
    }

    .content > * {
        margin: 0 !important;
        padding: 0 !important;
        text-align: center !important;
        width: 100% !important;
        justify-content: center !important;
    }

    .typed-text {
        padding: 16px 0 !important;
    }

    .content p {
        width: 80% !important;
        line-height: 40px;
        margin: 0 auto !important;
    }

    .box-stack {
        padding-top: 30px;
        gap: 30px;
    }

    .about {
        padding: 52px 0;
    }

    .card-pos {
        flex-direction: column !important;
    }

    .card {
        width: 70%;
        height: 320px !important;
        border-bottom: transparent;
        overflow: visible;
    }

    .card-project {
        flex-direction: column;
    }

    .card-project img, .card-project-about {
        width: 80%;
        height: auto;
    }

    .card-project-about {
        align-items: flex-start;
    }

    .card-project-about a {
        margin: 30px auto 0 auto;
    }

    .icon-link a {
        padding: 0 6px;
        font-size: 1.8rem !important;
    }

    footer p {
        font-size: 1.8rem;
    }
}


/* responsive laptop */
@media screen and (min-width: 1024px) and (max-width: 1600px) {

    header {
        padding: 0 20px;
    }

    nav {
        width: 100%;
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    nav a {
        padding: 12px 30px;
        margin: 0;
        gap: 8px;
        font-size: 1.8rem;
    }

    .about {
        padding: 52px 0;
    }

    .about-and-stack {
        padding: 0 32px;
    }

    .card-pos {
        margin: 4% 4% 0 4% !important;
    }

    .card {
        width: 30%;
        height: 350px;
        overflow: visible;
        border: transparent;
    }

    .card-header {
        text-align: center;
    }

    .card-project {
        flex-direction: column;
        margin: 3% 0 0 0;
    }

    .card-project img {
        width: 60%;
    }

    .card-project-about {
        width: 80%;
        align-items: center;
    }

    .icon-link a {
        font-size: 1.8rem !important;
        padding: 0 6px;
    }

    footer p {
        font-size: 1.8rem;
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    50% {
        transform: translateY(8px)
    }

    80% {
        transform: translateY(0)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes stack-slide {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-24px)
    }

    to {
        transform: translateY(0)
    }
}